POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=top_secret
POSTGRES_HOST=drivent-postgres-test
POSTGRES_PORT=5433
POSTGRES_DATABASE=drivent_test
REDIS_URL=redis://localhost:6379

JWT_SECRET=top_secret

DATABASE_URL=postgresql://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}?schema=public

EMAIL_API_KEY = SENDGRID_API_KEY
EMAIL = your_email@email.com

CLIENT_ID = abc123456789
CLIENT_SECRET = abc123456789